<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>圣遗物详情</title>
    <style>
        body,
        ul,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>

    <!-- 基础信息 -->
    <section class="basic-info">
        <div class="info-container">
            <img src="{{equipment.icon_url}}" alt="{{equipment.name}}">
            <h1 class="name">{{ equipment.name }}</h1>
            <p class="content_id">{{ equipment.content_id }}</p>
            <p class="template_id">{{ equipment.template_id }}</p>
            <p class="description">{{ equipment.description }}</p>
            <p class="rich_base_info">{{ equipment.rich_base_info }}</p>

            <!-- {% if equipment.attrs %}
            <ul class="attr-list">
                {% for attr in equipment.attrs %}
                <li>
                    <span>{{ attr.key }}</span>
                    <span>{{ attr.value }}</span>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p></p>
            {% endif %} -->
        </div>
    </section>

    <p>
        {{ equipment.attrs }}
    </p>
    <script>
        const attrStr = '{{ equipment.attrs }}';
    </script>
</body>

</html>